version: '3.8'

services:
  rfp-engine:
    container_name: rfp-engine
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
